!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: "."}  

    %title= current_page.data.title "| Iterate"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"

  %body{class: page_classes + ' ' + current_resource.data.serie ||= page_classes}
    %nav#navigation-bar
      = partial 'partials/navigation'

    #main
      .header{:class => current_resource.data.header_style}
        %img{ :src => image_path('headers/' + current_resource.data.banner), :class => 'banner' }
        %section.has-margin-bottom
          %h1
            = current_resource.data.serie_title ||= current_resource.data.title
          .two-thirds-layout
            %h2= current_resource.data.serie_subtitle
            %ul.event-details 
              %li= data.people[current_resource.data.presenter].name
              %li= current_resource.data.date + ' – ' + current_resource.data.time
              %li Grensen 9B, Oslo

      - if current_resource.data.registration_open
        .form-wrapper.has-padding-top-bottom
          = partial 'partials/registration-form', :class => 'has-table-context', :locals => { :flavor => 'registration-form-horizontal' }

      .white
        %section
          %h2.text-centered= current_resource.data.subtitle
          %h3.text-centered= current_resource.data.title
          .description.eight-columns-centered
            
            = yield

      - if current_resource.data.featured
        = partial 'partials/customer-quotes-events', :locals => { :background_color => 'gray', :title => 'Dette sier deltakerne' }
      - else 
        = partial 'partials/featured-event'

      - # fetches employee data from people.json and sets a headline where approriate
      = partial 'partials/people-bio', :locals => { :employee => current_resource.data.presenter, :headline => 'om foredragsholderen' } 

      - if current_resource.data.serie == 'lean-cortado'
        = partial 'partials/lean-cortado-serie'

    %footer
      = partial 'partials/footer'
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js", "application"