.row
  = link_to '/', :class => 'link-with-logo' do
    %img{ :src => image_path('logo.png'), :class => 'navigation-bar-logo', :title => 'Iterate logo' }
  %ul.main-navigation
    %li{:class => 'link-to-home'} 
      = link_to 'Hjemme', '/'
    = nav_link 'Mennesker', '/people'
    = nav_link 'Om oss', '/about'
    = nav_link 'Arrangementer', '/lean-cortado'
    = nav_link 'Referanser', '/cases'
    = nav_link 'Lean Startup', '/lean-startup'
    = nav_link 'Blogg', '/blog/'