.cards.has-padding-bottom
  
  - employees = data.people.to_h
  - current_resource.data.people.each do | p |
    - employee = employees[p]

    .employee-card

      .employee-basic-info 
        = link_to '/people#' + p do
          .employee-card-header
            %img{:class => 'mugshot', :title => employee.name, :src => image_path('mugshots/' + employee.mugshot)}
            %ul.card-content.text-centered
              %li.employee-name= employee.name
              %li.employee-title= employee.title

        %ul.card-content.text-centered
          %li.contact-details
            %a{:href => 'mailto:' + employee.email}= employee.email
          %li.contact-details= employee.phone

          %ul.horizontal-list
            - if employee.twitter.length > 0
              %li
                %a{:href => employee.twitter, :class => 'icon'}
                  %i.fa.fa-twitter
            - if employee.linkedin.length > 0
              %li
                %a{:href => employee.linkedin, :class => 'icon'}
                  %i.fa.fa-linkedin-square
            - if employee.github.length > 0
              %li
                %a{:href => employee.github, :class => 'icon'}
                  %i.fa.fa-github