.people-bio-box

  %img{:class => 'employee-full-portrait', :title => data.people[employee].name, :src => image_path('portraits/' + data.people[employee].photo) }

  %section
    .employee-details
      %h2= headline

      %h3= data.people[employee].name

      - if data.people[employee].bio.length > 0
        %p= data.people[employee].bio

      .inner-section
        .skills
          %i.fa.fa-tags
          %span= data.people[employee].skills.join(', ')

        .clients
          %i.fa.fa-tags
          %span= data.people[employee].clients.join(', ')

        - work_experience = (Date.today.year.to_i - data.people[employee].year.to_i).to_s + ' år med arbeidserfaring'

        .experience
          %i.fa.fa-briefcase
          = work_experience

      .inner-section
        %ul.horizontal-list
          %li.contact-details
            %a{:href => 'mailto:' + data.people[employee].email, :title => data.people[employee].email }= data.people[employee].email
          %li.contact-details= data.people[employee].phone

      .inner-section
        %ul.horizontal-list
          %li
            %a{:href => data.people[employee].twitter, :class => 'icon' }
              %i.fa.fa-twitter
          %li
            %a{:href => data.people[employee].linkedin,  :class => 'icon' }
              %i.fa.fa-linkedin-square
          - if data.people[employee].github.length > 0
            %li 
              %a{:href => data.people[employee].github,  :class => 'icon' }
                %i.fa.fa-github