%img{:class => 'employee-full-portrait', :title => data.people[employee].name, :src => image_path('portraits/torve-portrait.jpg') }

%h2 Om foredragsholderen

%h3
  = data.people[employee].name

%p 
  = data.people[employee].bio

%p.skills 
  - data.people[employee].skills.each do | skill |
    %span= skill + ', '

%p.clients
  - data.people[employee].clients.each do | client |
    %span= client + ', '

- work_experience = Date.today.year.to_i - data.people[employee].year.to_i

%p= work_experience

%p
  %a{:href => 'mailto:' + data.people[employee].email, :title => data.people[employee].email }= data.people[employee].email
  |
  %span= data.people[employee].phone