---
title: Hjemmeside
---

#main
  .header.home-hero
    %section
      %h1#hero.text-centered 
        Vi er Iterate

  .white
    %section.text-centered
      %h2.is-hidden Hjemmeside
      %h3.text-centered.has-large-padding-bottom Leke, Lage, Lære
      
      %p
        <iframe width="640" height="360" src="https://www.youtube.com/embed/p6qPfI1QK3k?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

      %p &quot;Building the right thing and building the thing right&quot; - fra en  skapende hverdag i Iterate

      %p
        = link_to 'Ta kontakt og få en kopp med kaffe', '#freddy'

  %section
    %h2.text-centered Utvikling, transformasjon og innovasjon
    %p.eight-columns-centered 
      Iterate jobber med selskaper i digital endring. Vi rådgir, leder, designer og programmerer for kunder, som for eksempel:
    %ul.horizontal-list.text-centered
      %li= image_tag image_path('logos/gjensidige.png')
      %li= image_tag image_path('logos/telenor.png')
      %li= image_tag image_path('logos/logo-lego.png')

  .white
    %section
      = partial 'partials/customer-quote-double', :locals => { :background_color => 'white', :title => 'Dette sier kundene våre' }

  .freddy
    %section#freddy
      %h2.text-centered Ta en prat med Fredrik
      .two-thirds-layout-offset
        %p
          Fredrik Pettersen, salgssjef i Iterate
        %ul
          %li Ring +47 408 409 76
          %li 
            Send epost til 
            = link_to 'fredrik@iterate.no', 'mailto:fredrik@iterate.no'
