---
title: Hjemmeside
---

#main
  .header.home-hero
    %section
      %h1#hero.text-centered 
        Vi er Iterate

  .white
    %section
      %h2.is-hidden Hjemmeside
      %h3.text-centered.has-large-padding-bottom Leke, Lage, Lære
      <iframe width="400" height="225" src="https://www.youtube.com/embed/p6qPfI1QK3k?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

      %p &quot;Building the right thing and building the thing right&quot; - fra en  skapende hverdag i Iterate

      %p
        = link_to 'Ta kontakt og få en kopp med kaffe', './', :anchor => 'freddy'

  %section
    %h2.text-centered noen av dem vi jobber med
    %p.eight-columns-centered 
      Iterate jobbet med alle de store Norske selskapene. 
      = lorem.sentences 3
    %ul.horizontal-list.text-centered
      %li= image_tag image_path('logos/gjensidige.png')
      %li= image_tag image_path('logos/telenor.png')

  .white
    %section
      = partial 'partials/customer-quote-double', :locals => { :background_color => 'white', :title => 'Dette sier kundene våre' }

  .freddy
    %section
      %h2.text-centered Ta en prat med Fredrik
      .two-thirds-layout-offset
        %p
          = lorem.sentences 2
        %ul
          %li Ring +47 408 409 76
          %li 
            Send epost til 
            = link_to 'fredrik@iterate.no', 'mailto:fredrik@iterate.no'
