---
title: Mennesker
---

#main
  .header.mennesker-hero
    %section
      %h1#hero.text-centered Vi er Iterate

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'white' } 
   
  %section
    %ul
    - employees = data.people.sort.to_h
    - employees.each do | e |
    -   employee = e[1]

      %li.card
        %img{:class => 'mugshot', :title => employee.name, :src => image_path('mugshots/' + employee.mugshot) }
        %ul
          %li= employee.name
          %li= employee.title
          %li= employee.email
          %li= employee.phone

          %ul
            %li= employee.twitter
            %li= employee.linkedin
            %li= employee.github
