---
title: Mennesker
header-img: mennesker
---

#main
  .header.mennesker-hero
    %section
      %h1#hero.text-centered Vi er Iterate

  - # set to gray or white to control background-color of the partial
  = partial 'partials/customer-quote-single', :locals => { :background_color => 'white' } 
   
  %div.cards.has-large-padding-top-bottom

    - employees = data.people.sort.to_h # moves data into a hash and sorts alphabetically by object key

    - employees.each do | e |
      - employee = e[1] # moves all object data into an array

      %div{:class => 'employee-card', :id => e[0]}
        = link_to '#' do
          %img{:class => 'mugshot', :title => employee.name, :src => image_path('mugshots/' + employee.mugshot) }
        %ul.card-content.text-centered
          %li.employee-name
            %a{:href => '#'}= employee.name
          %li.employee-title
            %a{:href => '#'}= employee.title
          %li.contact-details
            %a{:href => 'mailto:' + employee.email}= employee.email
          %li.contact-details= employee.phone

          %ul.horizontal-list
            - if employee.twitter.length > 0
              %li
                %a{:href => employee.twitter, :class => 'icon'}
                  %i.fa.fa-twitter
            - if employee.linkedin.length > 0
              %li
                %a{:href => employee.linkedin, :class => 'icon'}
                  %i.fa.fa-linkedin-square
            - if employee.github.length > 0
              %li
                %a{:href => employee.github, :class => 'icon'}
                  %i.fa.fa-github

      %div{:class => 'is-hidden people-bio', :id => e[0] + '-bio'}
        = partial 'partials/people-bio', :locals => { :employee => e[0], :headline => '' }